<div class="top-line-bg ats-bg-color2">
  <div class="top-line-bg-row">
    <span class="top-line-title ats-color18 medium">Події</span>
    <div>
      <mat-icon style="margin-right:3vh;" class="mat-icon-item ats-color7">add_alert</mat-icon>
      <mat-icon class="mat-icon-item ats-color7">tune</mat-icon>
    </div>
  </div>

  <div>
    <input id="radio1" type="radio" name="css-tabs" checked>
	  <input id="radio2" type="radio" name="css-tabs">
    <div id="tabs">
      <label id="tab1" for="radio1" class="ats-color7 top-tab-title regular">Активні</label>
      <label id="tab2" for="radio2"  class="ats-color7 top-tab-title regular">Архівні</label>
    </div>
  </div>
</div>