.action_cont_outer{
  overflow: scroll;
  margin-top:10vh;
  height:84vh;
}
body::-webkit-scrollbar-thumb{
  background-color: var(--color14);
}
.action_cont_outer::-webkit-scrollbar-thumb{
  background-color: var(--color14);
}

.action_cont_outer{
  scrollbar-color: var(--color14);
}

body{
  scrollbar-color: var(--color14);
}