<div class="event-item-cont">
  <div class="row1">
    <div>
      <div>
        <span class="event-item-name ats-color1 semibold">{{action.name}}</span>
      </div>
      <div>
        <span class="event-time-description ats-color3">{{action.short_description}}</span>
      </div>
    </div>
    <div>
      <mat-icon class="mat-icon-item ">{{getEventIcon()}}</mat-icon>
    </div>
  </div>
  <div class="row2">
    <div *ngIf="action.routeLength" class="horizontal-align">
      <mat-icon class="mat-icon-item-small">timeline</mat-icon>
      <div>
        <span class="bold numbers ats-color3">{{action.routeLength}}</span>
        <span *ngIf="action.routeUnit" class="medium units ats-color3">{{action.routeUnit}}</span>
      </div>
    </div>
    <div *ngIf="action.speedRange" class="horizontal-align" style="margin-left:3vh;">
      <mat-icon class="mat-icon-item-small">timer</mat-icon>
      <div>
        <span class="bold numbers ats-color3">{{action.speedRange}}</span>
        <span *ngIf="action.speedUnit" class="medium units ats-color3">{{action.speedUnit}}</span>
      </div>
    </div>
  </div>
  <div class="row3">
    <div>
      <!-- <span>{{club.name}}</span> -->
    </div>
    <div>
      <span>{{action.dayStart}}</span><br>
      <span>{{action.timeStart}}</span>
    </div>
  </div>
</div>