<div class="event-item-cont">
  <div class="row">
    <div>
      <div>
        <span class="event-item-name ats-color1 semibold">{{action.name}}</span>
      </div>
      <div>
        <span class="event-time-description ats-color3">{{action.short_description}}</span>
      </div>
    </div>
    <div>
      <mat-icon class="mat-icon-item ">{{getEventIcon()}}</mat-icon>
    </div>
  </div>
  <div>
    <div style="display:inline-block">
      <mat-icon class="mat-icon-item-small">timeline</mat-icon>
      <span>{{action.routeLength}}</span>
    </div>
    <div style="display:inline-block">
      <mat-icon class="mat-icon-item-small">access_time</mat-icon>
      <span>{{action.speedRange}}</span>
    </div>
  </div>
</div>