.event-item-cont{
  border: 1px solid #eee;
  border-radius:1vh;
  margin: 2vh 3vh;
  padding:1vh;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mat-icon-item{
  
}