.start-menu-item-box{
  position: relative;
  cursor: pointer;
}
.start-menu-item-box:before{
  content: "";
	display: block;
	padding-top: 100%;
}
.start-menu-item{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.mat-icon-item{
  font-size: 5vh;
  color:var(--color18);
  width:5vh;
  height:5vh;
}