.start-menu-item-box{
  position: relative;
  cursor: pointer;
}
.start-menu-item-box:before{
  content: "";
	display: block;
	padding-top: 100%;
}
.start-menu-item{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
div mat-icon{
  color:white;
  width:10vw;
  height:10vw;
}
.mat-icon-item{
  font-size: 10vw;
  width: 5vw;
}