<div id="page_container">

<div id="logo_div">
  <mat-icon svgIcon="amberts-logo" aria-hidden="false"></mat-icon>
</div>

<!-- <mat-icon>mood</mat-icon> -->
<div id="grid_menu_div">
  <start-menu-item iconUrl="emoji_flags" text="Події" bgClass="ats-bg-color8" textClass="ats-color7" urlPage="/list-events"></start-menu-item>
  <start-menu-item iconUrl="today" text="Календар" bgClass="ats-bg-color9" textClass="ats-color7"  urlPage=""></start-menu-item>
  <start-menu-item iconUrl="map" text="Мапа" bgClass="ats-bg-color10" textClass="ats-color7"  urlPage=""></start-menu-item>
  <start-menu-item iconUrl="fitness_center" text="Заняття" bgClass="ats-bg-color12" textClass="ats-color7"  urlPage=""></start-menu-item>
  <start-menu-item iconUrl="people_outline" text="Групи" bgClass="ats-bg-color13" textClass="ats-color7"  urlPage=""></start-menu-item>
  <start-menu-item iconUrl="book" text="Блоги" bgClass="ats-bg-color14" textClass="ats-color7"  urlPage=""></start-menu-item>
  <start-menu-item iconUrl="toc" text="Інше" bgClass="ats-bg-color15" textClass="ats-color7"  urlPage=""></start-menu-item>
  <start-menu-item iconUrl="tune" text="Опції" bgClass="ats-bg-color16" textClass="ats-color7"  urlPage=""></start-menu-item>
  <start-menu-item iconUrl="perm_identity" text="Акаунт" bgClass="ats-bg-color17" textClass="ats-color7"  urlPage=""></start-menu-item>
</div>


</div>