<div class="outer_main_container">
<div class="outer_main_undercontainer">
<div class="page_container">

<mat-icon svgIcon="amberts-logo" aria-hidden="false" ></mat-icon>

<!-- <mat-icon>mood</mat-icon> -->
<div id="grid_menu">
  <app-start-menu-item iconUrl="emoji_flags" text="Події" bgClass="ats-bg-color8" iconClass="ats-color7" textClass="ats-color7" urlPage=""></app-start-menu-item>
  <app-start-menu-item iconUrl="today" text="Календар" bgClass="ats-bg-color9" iconClass="ats-color7" textClass="ats-color7"  urlPage=""></app-start-menu-item>
  <app-start-menu-item iconUrl="map" text="Мапа" bgClass="ats-bg-color10" iconClass="ats-color7" textClass="ats-color7"  urlPage=""></app-start-menu-item>
  <app-start-menu-item iconUrl="fitness_center" text="Тренування" bgClass="ats-bg-color12" iconClass="ats-color7" textClass="ats-color7"  urlPage=""></app-start-menu-item>
  <app-start-menu-item iconUrl="people_outline" text="Групи" bgClass="ats-bg-color13" iconClass="ats-color7" textClass="ats-color7"  urlPage=""></app-start-menu-item>
  <app-start-menu-item iconUrl="check_circle_outline" text="Досягнення" bgClass="ats-bg-color14" iconClass="ats-color7" textClass="ats-color7"  urlPage=""></app-start-menu-item>
  <app-start-menu-item iconUrl="toc" text="Інше" bgClass="ats-bg-color15" iconClass="ats-color7" textClass="ats-color7"  urlPage=""></app-start-menu-item>
  <app-start-menu-item iconUrl="tune" text="Налаштування" bgClass="ats-bg-color16" iconClass="ats-color7" textClass="ats-color7"  urlPage=""></app-start-menu-item>
  <app-start-menu-item iconUrl="perm_identity" text="Користувач" bgClass="ats-bg-color17" iconClass="ats-color7" textClass="ats-color7"  urlPage=""></app-start-menu-item>
</div>


</div>
</div>
</div>